body{
	padding:0;
	margin: 0;
    background: #fff url(../img/body.jpg) 50% 0 no-repeat;
    color: #aaaaab;
    font: 14px/23px Arial,Helvetica,sans-serif;
    position: relative; 
	font-family: open sans,sans-serif;	
}
a{
	text-decoration: none;
	font-family: open sans,sans-serif;
}
.dis-flex{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
}

.butt a {
	background-color: #78ccfd;
	color: #ffffff;
	display: block;
	width: 100%;
	height: 40px;
	font-weight: 300;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
}
.butt a:hover{
	background-color: #248fca;
}
/**/

#content{
	padding-top: 82px;
	padding-bottom: 70px;	
	margin:0 auto;
	width:1152px;
}
/**/
#topline{
    background-color: #eee;
    padding: 14px 16px 14px 27px;
	justify-content: space-between;	
}

#topline,
a{
	color: #aaa;    
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;	
}

#auth{
	width:230px;
	justify-content: space-between;	
}

#auth a:hover{
	text-decoration: revert;
}
/**/
#header{
	background-color: #ffffff;
	height:132px;
	align-items: center;
	justify-content: space-between;
	padding:0 45px;
}
#header #logo,
#header #search{
	background-repeat: no-repeat;	
	background-position: center;
	background-size: 100%;
}
#header #logo{	
	background-image: url(../img/logo.png);
	width:270px;
	height:70px;	
}

#header #search{
	background-image: url(../img/search.jpg);
	width:216px;
	height:32px;	
}

/**/

#topmenu{
	height:70px;
}

#topmenu .item{
	width:192px;	
	color: #fff;
	background-color: #78ccfd;
	background-image: url( ../img/menu-sepa.jpg );
	background-repeat:no-repeat;
	background-position:left;
	text-transform: uppercase;
	text-align:center;
	line-height:70px;
    font-size: 14px;
    font-weight: 400;
	cursor:pointer;
}
#topmenu .item:first-child{
	background-image:none;
}

#topmenu .item.activ,
#topmenu .item:hover{
	background-color: #248fca;
}
/**/
#laboratory{
	margin:30px 0;
	justify-content: space-between;
}

#laboratory .item{
	background: #ffffff;
	width:268px;
}

#laboratory .item .title{
	height:88px;	
	text-transform: uppercase;  
    color: #2185c5;
    font-weight: 600;
	font-size: 25px;
	text-align:center;
	line-height:88px;
	background-color: #eee;
}

#laboratory .item .text{
	margin-bottom:20px;
	height:161px;
}

#laboratory .item .body{
	padding: 36px 15px 39px;
}

/**/
#table{
	background-color: #ffffff;
	padding:30px;
}
#table table{
	width:100%;	
}

#table table,
#table table th,
#table table td{
	border: 1px solid #248fca;
	border-collapse: collapse;
}

#table table th{
	height: 30px;
	background-color:#78ccfd;
	color: #fff;	
}

#table table td.id{
	cursor:pointer;
	font-weight: 600;
	color: #2185c5;
}
#table table td.id:hover{
	color: #000000;
}

#table table td{
	padding:0 5px;
	color: #000000;
	text-align:center;
}
#table table td.status{
	width: 65px;
}

#table table tr.completed .status{
	background-color:#98FB98;
}
#table table tr.atwork .status{
	background-color:#FFD700;
}
#table table tr.refused .status{
	background-color:#FFA07A;
}


    

/**/
#footer{
	margin-top: 30px;
    padding: 19px 23px 19px 32px;
    background-color: #eee;
    color: #aaa;
	text-transform: uppercase;
	font-weight: 100;	
}

#footer span{
	font-weight: 400;
	margin-right: 20px;
}